<div id="{{[id]}}" class="canvas-control {{[control-class]}}" style="{{[control-style]}}" cc-type="button" cc-control-provider="canvas" cc-binding="{{[binding]}}" {{[binding-provider]}} cc-update="{{[update]}}" {{[cc-true]}} {{[cc-color]}} {{[events]}}>
    <span id="{{[id]}}-button-image" class="{{[content-class]}} {{[image-class]}}" style="{{[img]}} {{[content-style]}}">{{[text]}}</span>
    <span id="{{[id]}}-button-text" class="{{[text-class]}}" style="{{[text-style]}}">{{[text]}}</span>
</div>